* {
    margin: 0;
    padding: 0;
}


:root {
    --font-family: 'Public Sans', sans-serif;

    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

}

body {
    font-family: var(--font-family);
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    font-size: 18px;
    width: 100vw;
}

header {
    min-height: 60px;
    margin: 8px 0px;
}

.home-nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.logo {
    padding: 20px;
    object-fit: contain;
}

.home-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-elements a {
    color: var(--grayish-blue);
    text-decoration: none;
}

.nav-elements {
    display: flex;
    flex-direction: column;

}

.nav-elements:hover {
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(45deg, var(--lime-green), var(--bright-cyan));
    border-image-slice: 1;
    width: 100%;
}

.nav-elements:hover a {
    color: var(--dark-blue);

}

.home-nav ul li {
    padding: 15px;
}

.request {
    border: none;
    background: linear-gradient(45deg, var(--lime-green), var(--bright-cyan));
    color: #fff;
    align-self: center;
    transform: scale(1.1);
    border-radius: 30px;
    padding: 10px 20px;

}

.request:hover {
    cursor: pointer;
    opacity: 0.7;
}

.request:active {
    transform: scale(1);
}


.ham-menu,
#hamburger,
.ham-label {
    display: none;
}

/*main section*/
section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-shrink: 1;
    width: 100%;
}

.showcase {
    position: relative;
    display: flex;
    justify-content: stretch;
    width: 100%;
    min-height: 600px;
    background: var(--very-light-gray);
}

.showcase .content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin-left: 9%;

}

.content-div h1 {
    font-size: 3rem;
    font-weight: 300;
    color: var(--dark-blue)
}

.content-div p {
    font-size: 1.2rem;
    margin: 15px 0;
    line-height: 1.3em;
}

.content-div .request {
    margin: 15px 0;
    align-self: flex-start;
}

.showcase .images-div {
    display: flex;
    position: relative;
    width: 60vw;
    overflow: hidden;
}

.intro-div {
    height: 100%;
    width: 100%;
    position: absolute;
    /* transform: translate(0, -260px); */
}

.mockup-div {
    width: 100%;
    position: absolute;
    transform: translate(25%, -15%);
    object-fit: contain;
}



.why {
    box-sizing: border-box;
    background: var(--light-grayish-blue);
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 9% 100px 9%;
}

.why .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px 0;
    padding-top: 100px;
}

.why .info h1 {
    font-size: 2em;
    font-weight: 300;
    color: var(--dark-blue);
    margin: 1% 0;
}

.why .info p {
    margin: 1% 0;
    font-size: 1.2rem;
    line-height: 1.3em;
    padding-top: 20px;
    max-width: 800px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}


.features div img {
    object-fit: scale-down;
    align-self: flex-start;
}

.features div {
    /* min-width: 200px; */
    /* padding: 10px; */
    min-height: 200px;
    max-width: 250px;
}

.features div h2 {
    margin: 6% 0;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--dark-blue);
}

.features p {
    line-height: 1.3em;
    font-size: 1.1rem;
}


article {
    padding: 3% 9% 0 9%;
    background: var(--very-light-gray);
}

article h1 {
    font-size: calc(18px + 1vw);
    font-weight: 300;
    color: var(--dark-blue);
}

.article-divs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.article {
    max-width: 250px;
    background: #fff;
    
}

.article .images {
    width: 100%;
}

.article .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    padding: 25px;
}

.article .images img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.author {
    font-size: 0.8em;
    /* margin: 5px 0; */
}

.article .content h3 {
    color: var(--dark-blue);
    font-weight: 300;
    font-size: 1.2rem;
}

.article .content h3:hover {
    cursor: pointer;
    color: var(--lime-green);
}

.article .content .info {
    /* font-size: calc(10px+1vw); */
    font-size: 1rem;
    /* margin: 5px 0; */
}




/* footer styles*/

footer {
    height: 200px;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-blue);
    padding: 0 9%;
}

.social {

    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-links .link:hover>path {
    cursor: pointer;
    fill: var(--lime-green);

}

.menu {
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px;
    color: #fff;
}

.menu div {
    padding: 10px;
}

.menu div:hover {
    cursor: pointer;
    color: var(--lime-green);
}

.copy-rights {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.copy-rights p{
    text-align: right;
}
.request-invite {
    border: none;
    background: linear-gradient(45deg, var(--lime-green), var(--bright-cyan));
    color: #fff;
    align-self: flex-end;
    transform: scale(1.1);
    border-radius: 30px;
    padding: 10px 20px;
}

.request-invite:hover {
    cursor: pointer;
    opacity: 0.8;
}

.request-invite:active {
    transform: scale(1);
}

@media (max-width:760px){
    footer{
        height:fit-content;
        justify-content: space-evenly;
        flex-wrap:wrap;
    }
    .social{
        height:100px;
    }
    .copy-rights{
        height:100px; 
    }
    .request-invite{
        align-self: center;
    }
    .copy-rights p{
        text-align: center;
    }
}
/* for mobile version */
@media (max-width:550px) {

    .ham-label {
        display: block;
    }

    .ham-menu {
        display: none;
        position: absolute;
        z-index: 100;
        top: 100px;
        margin-left: 10vmin;
        align-self: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 300px;
        font-size: 20px;
        width: 80vw;
        background: #fff;
    }

    .ham-menu ul li a {
        margin: 15px;
        color: var(--dark-blue);
    }

    #ham,
    #close {
        position: absolute;
    }

    #close {
        display: none;
    }

    .ham-label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ham-label:hover {
        cursor: pointer;
    }

    header {
        width: 100vw;
    }

    header .home-nav>ul {
        display: none;
    }

    header .home-nav .request {
        display: none;
    }

    .showcase {
        flex-direction: column;
        padding: 0 0 50px 0;
    }

    .showcase .content-div {
        flex: 1;
        order: 1;
        width: 100vw;
        margin: 0;
        align-items: center;
    }

    /* flex:1; */

    .showcase .images-div {
        background-image: url('images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100vw;
        min-height: 50vh;
        flex: 1;
        order: 0;
    }

    .content-div h1 {
        /* font-size: calc(12px + 3vw); */
        font-size: 2em;
        padding: 10px;
        text-align: center;
        font-weight: 300;
        color: var(--dark-blue)
    }

    .content-div p {
        /* font-size: calc(5px + 1vw); */
        font-size: 1em;
        padding: 5%;
        text-align: center;
        margin: 15px 0;
    }

    .content-div .request {
        margin: 15px 0;
        align-self: center;
    }


    .mockup-div {
        transform: translate(0,-15%);
        width: 100vw;
        height: 50vh;
    }
    .mockup-div img{
        object-fit: contain;
        height:100%;
        width:100%;
    }

    .intro-div{
        display: none;
    }

    .why {
        gap: 20px;
    }

    .why .info {
        padding: 0;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .why .info h1 {
        padding: 20px;
    }

    .why .info p {
        padding: 20px;
        max-width: 100%;
    }

    .why .features {
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .features div {
        align-items: center;
        width: 100%;
        text-align: center;


    }

    .features div img {
        align-self: center;
    }

    .features div h2 {
        align-self: center;
    }

    .features p {
        padding: 10px;
    }

    article {
        margin: 50px 0;
        display: flex;
        flex-direction: column;
    }

    article h1 {
        margin-top: 50px;
        font-size: 1.5em;
        align-self: center;
    }

    .article-divs {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        height: fit-content;
        justify-content: space-evenly;
    }

    footer .social {
        margin-top: 20px;
        gap: 30px;
    }

    footer .social-links {
        gap: 20px;
    }

    footer .menu {
        text-align: center;
        width: fit-content;
    }

    /* text-align: center; */
    footer .copy-rights {
        align-items: center;
        gap: 30px;
    }

    footer .copy-rights p {
        text-align: center;
    }

    footer .request-invite {
        align-self: center;
    }
}